.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
}

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.plans-container--slider {
    justify-content: center;
    overflow-x: hidden;
}

.header--title-container h1 {
    font-size: 3.8rem;
    line-height: 4.3rem;
}

.header--title-container p {
    font-size: 1.8rem;
}